/smarang_back_app/Ai_data/Brand/Filename.pkl

/smarang_back_app/Ai_data/Marketer/Market.pkl

smarang_back_app/__pycache__/

smarang_back_app/views/__pycache__/

smarang_back_app/__pycache__/

/config/__pycache__

/smarang_back_app/migrations/__pycache__

db.sqlite3
.venv
